
<br/>
<br/>
<br/>

<section class="row">
	<fieldset>
		<legend>Join us</legend>
		<div class="row">
		    <div class="large-6 large-centered  columns">
				<div class="row collapse">
					<%= form_tag "/users/sign_up", :method => :get do %>
						<div class="small-9 columns">
							<%= text_field_tag :email %>
						</div>
						<div class="small-3 columns">
							<%= submit_tag "register", :id => "submitEmail", :class => "postfix radius" %>
						</div>
					<% end %>
				</div>
		    </div>
		</div>
	</fieldset>
</section>


